<!DOCTYPE html>
<html lang="en" th:replace="~{/site/index :: dynamic(~{::main})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>
<div th:fragment="main">

  <div class="erorr">
    <ion-icon style="color: lawngreen" name="happy-outline"></ion-icon>
    <h1>Chúc Mừng</h1>
    <p>Chúc mừng bạn đã mua khóa học,
      Chúng tôi hy vọng rằng khóa học sẽ đem lại cho bạn nhiều giá trị và trải nghiệm thú vị. Nếu bạn có bất kỳ câu hỏi hay thắc mắc gì về khóa học, đừng ngần ngại liên hệ với chúng tôi. Chúng tôi luôn sẵn sàng hỗ trợ bạn trong suốt quá trình học tập.

    </p>
    <a th:href="@{|/learning/${ContentId}/${ID}|}"><button>Học Ngay</button></a>
  </div>
</div>

<script

        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>