<!DOCTYPE html>
<html lang="en">
<html lang="en" th:replace="~{/site/index :: dynamic(~{::main})}">
<head>
  <meta charset="UTF-8">
  <title>Danh Mục Khóa Học</title>
    <link rel="shortcut icon" href="/image/logo.jpg" type="image/x-icon" />
</head>
<body>
<div class="details-sectionss" th:fragment="main">
  <section class="section_index-1">
    <div class="section_content">
      <h1 th:text="'Danh Mục '+${categoryName}"></h1>
    </div>
      <div class="section_cards" >
        <div class="section_card"  th:each="p:${danhmuc}" >
          <div class="section_card-container" >
            <img th:src="@{|${p.tps_image}|}" alt="" />
            <div class="section_card-content">
              <a class="hide" th:href="@{|/khoa-hoc/${p.tps_id}|}">Xem Khóa Học</a>
            </div>
          </div>

        </div>

      </div>

  </section>
</div>

</body>
</html>