<footer class="footer">
      <div class="footer__items">
        <div class="footer__item-1">
          <div class="footer__item-1-header">
            <img src="/image/logo.jpg" alt="" />
            <h3>Cùng Học Lập Trình</h3>
          </div>
          <ul>
            <li>
              Xin chào và cảm ơn bạn đã ghé thăm trang web của chúng tôi. Chúng
              tôi hy vọng bạn sẽ tìm thấy khóa học lập trình phù hợp với nhu cầu
              của mình ở đây.
            </li>
          </ul>
        </div>
        <div class="footer__item-2">
          <h3>Về Chúng Tôi</h3>
          <ul>
            <li>Giới thiệu</li>
            <li>Cơ hội việc làm</li>
            <li>Lộ trình học</li>
          </ul>
        </div>
        <div class="footer__item-3">
          <h3>Hỗ Trợ</h3>
          <ul>
            <li>Liên hệ</li>
            <li>bảo mật</li>
            <li>Điều khoản</li>
          </ul>
        </div>
        <div class="footer__item-4">
          <h3>Liên hệ</h3>
          <ul>
            <li>Điện Thoại:0346.732.847</li>
            <li>Email: crouseonline@gmail.com</li>
            <li>Địa Chỉ: 288 Nguyễn Văn Linh, An Khánh, NK, CT</li>
          </ul>
        </div>
      </div>
    </footer>
    