<div class="admin-qltk-left">
  <div class="admin-qltk-left-top-img">
    <img src="/image/logo.jpg" alt="" />
    <span>ADMIN</span>
  </div>
  <div class="admin-qltk-top-list">
    <div class="accordion">
      <div class="contentBx">
        <div class="accordion-label">
          <ul>
            <li>
              <ion-icon name="analytics-outline"></ion-icon>
              <a style="text-decoration: none; color: black;" href="/admin/doasboard"><h3>Dashboard</h3 ></a>
            </li>
          </ul>
        </div>
        <div class="accordion-label">
          <ul>
            <li>
              <ion-icon name="person-add-outline"></ion-icon>
              <h3>Quản Lý Tài Khoản</h3>
            </li>
          </ul>
        </div>
        <div class="accordion-content">
          <ul>
            <li>
              <a th:href="@{|/admin/phan-quyen|}"><span>Phân quyền người dùng</span></a>
            </li>
          </ul>
          <ul>
            <li>
              <a th:href="@{|/admin/tai-khoan|}"><span>Tài khoản</span></a>
            </li>
          </ul>
<!--          <ul>-->
<!--            <li>-->
<!--              <a href=""> Vai Trò Hệ Thống</a>-->
<!--            </li>-->
<!--          </ul>-->
        </div>
      </div>
      <div class="contentBx">
        <div class="accordion-label">
          <ul>
            <li>
              <ion-icon name="book-outline"></ion-icon>
              <h3>Quản Lý Khóa Học</h3>
            </li>
          </ul>
        </div>
        <div class="accordion-content">
          <ul>
            <li>
              <a th:href="@{|/admin/khoa-hoc|}"><span>Khóa Học</span></a>
            </li>
          </ul>
          <ul>
            <li>
              <a th:href="@{|/admin/chuong|}"><span>Chương</span></a>
            </li>
          </ul>
          <ul>
            <li>
              <a th:href="@{|/admin/noi-dung|}"><span>Nội Dung bài học</span></a>
            </li>
          </ul>
          <ul>
            <li>
              <a th:href="@{|/admin/danh-muc|}"><span>Danh Mục Khóa Học</span></a>
            </li>
          </ul>
          <ul>
            <li>
              <a th:href="@{|/admin/code-khoahoc|}"><span>Code Mã Khóa Học </span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="contentBx">
        <div class="accordion-label">
          <ul>
            <li>
              <ion-icon name="card-outline"></ion-icon>
              <h3>Quản Lý Thanh Toán</h3>
            </li>
          </ul>
        </div>
        <div class="accordion-content">
          <ul>
            <li>
              <a href="/admin/CourseSales"><span>Khóa học đã bán </span></a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/admin/payment"><span>Thanh toán</span></a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/admin/order"><span>Lịch sử Mua Khóa Học</span></a>
            </li>
          </ul>
          
        </div>
      </div>
      <div class="contentBx">
        <div class="accordion-label">
          <ul>
            <li>
              <ion-icon name="help-circle-outline"></ion-icon>
              <h3>Quản Lý Quiz</h3>
            </li>
          </ul>
        </div>
        <div class="accordion-content">
          <ul>
            <li>
             <a href="/admin/quiz-add"> <span>Thêm bài quiz</span></a>
            </li>
          </ul>
          <ul>
            <li>
            <a href="/admin/quiz">  <span>Danh Sách Bài Quiz</span></a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="admin-qltk-left-bot">
    <div class="admin-qltk-left-bot-list">
      <ul>
        <li>
          <ion-icon name="log-in-outline"></ion-icon>
          <a style="text-decoration: none; color: black;" th:href="@{/auth/logoff}"> <span>Log out</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>